<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Дополнительная информация</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body style="background-color: #a1a0c8">
    <h1>Дополнительная информация о Weather app</h1>
    <div>
        <h2 tabindex="-1" id="user-content-краткое-описание" dir="auto"><a class="heading-link" href="#краткое-описание">Краткое описание<svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path d="m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z"></path></svg></a></h2>
        <p dir="auto"><a href="#">Weather app</a> позволяет в режиме реального времени узнать погоду с помощью <a href="https://openweathermap.org" rel="nofollow">OpenWeatherMap.org</a>.

    </div>


    <div>
        <h2 tabindex="-1" id="user-content-краткое-описание" dir="auto"><a class="heading-link" href="#Локальная установка">Локальная установка<svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path d="m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z"></path></svg></a></h2>
        <p dir="auto">Эти инструкции помогут вам развернуть проект на локальном компьютере для разработки и тестирования</p>
        <p dir="auto"><strong>Перед тем, как начать:</strong></p>
        <ul dir="auto">
        <li>Если вы не пользуетесь <code>Python 3</code>, вам нужно установить инструмент <code>virtualenv</code> при помощи <code>pip install virtualenv</code>.
        Если вы используете <code>Python 3</code>, у вас уже установлен модуль <a href="https://docs.python.org/3/library/venv.html" rel="nofollow">venv</a> в стандартной библиотеке.</li>
        </ul>
        <h3 tabindex="-1" id="user-content-запуск-проекта-на-примере-manjaro-linux" dir="auto"><a class="heading-link" href="#запуск-проекта-на-примере-manjaro-linux">Запуск проекта (на примере Manjaro Linux)<svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path d="m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z"></path></svg></a></h3>
        <ul dir="auto">
        <li>
        <p dir="auto">Клонировать проект командой: git clone <a href="https://github.com/DavidTorbin/weather_app.git" rel="nofollow">GitHub</a></p>
        </li>
        <li>
        <p dir="auto">создать файл <code>.env</code> вида:</p>
        </li>
        </ul>
        <br>

        - Установить виртуальное окружение командой:
        <b>python -m venv venv</b>
        <br>

        - Активировать виртуальное окружение командой:
        <b>source venv/bin/activate</b>
        <br>

        - установить необходимые зависимости командой:
        <b>pip install -r requirements.txt</b>
    </div>


    <div>
        <h3 tabindex="-1" id="user-content-запуск-проекта-на-примере-windows" dir="auto"><a class="heading-link" href="#запуск-проекта-на-примере-windows">Запуск проекта (на примере Windows)<svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path d="m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z"></path></svg></a></h3>
        <ul dir="auto">
        <li>Создайте на своем компютере папку проекта</li>
        <li>Склонируйте этот репозиторий в папку проекта</li>
        <li>Создайте файл <code>.env</code> и добавьте в него переменные окружения, следующего вида:</li>
        </ul>


        - Активируйте виртуальное окружение `pipenv shell`
        - Установите все зависимости `pipenv install --ignore-Pipfile`
        - Запустите бота командой `pipenv run main.py` из Терминала из папки с проектом

    </div>
    <div>
        <a class="btn btn-outline-primary" href="{% url 'weather:index' %}">Вернуться на главую</a>
    </div>


</body>
</html>